<header class="header">
  <div class="container header-container">
    <a href="/snapeditvn-clone/src/pages/home/index.html" class="logo">
      <img src="../../../public/images/snapedit-logo.svg" alt="SnapEdit Logo">
      <span>SnapEdit</span>
    </a>

    <nav class="nav">
      <ul class="nav-menu">
        <li><a href="/snapeditvn-clone/src/pages/home/index.html" class="nav-link">Trang chủ</a></li>
        <li><a href="/snapeditvn-clone/src/pages/add-watermark/index.html" class="nav-link">Thêm Watermark</a></li>
        <li><a href="/snapeditvn-clone/src/pages/compress-image/index.html" class="nav-link">Nén ảnh</a></li>
        <li><a href="/snapeditvn-clone/src/pages/convert-image/index.html" class="nav-link">Chuyển đổi ảnh</a></li>
        <li><a href="/snapeditvn-clone/src/pages/blur-bg/index.html" class="nav-link">Làm mờ nền</a></li>
        <li><a href="#" class="nav-link">Giá</a></li>
      </ul>
    </nav>

    <div class="header-actions">
      <div class="language-selector">
        <img src="../../../public/images/icons/vn.svg" alt="Tiếng Việt">
        <span>Tiếng Việt</span>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
          <path d="M7.247 11.14L2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
        </svg>
      </div>

      <a href="#" class="btn btn-primary">Thử miễn phí</a>
    </div>
  </div>
</header>
